:root {
    --primary-color: #3498db;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center; /* Center text horizontally */
}

header {
    background-color: var(--primary-color);
    padding: 10px 0;
}

/* Styling for avatar image. */
#about img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Work sample layout using flexbox and larger image */
.work-samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the work samples horizontally */
    margin: auto; /* Center the .work-samples container */
}

.work-sample {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: center; /* Center text inside the work sample */
}

.work-sample.larger img {
    width: 100%; /* Make the larger image fit within the container */
    max-width: 100%; /* Ensure the image does not exceed its original size */
    height: auto;
}

.work-sample img {
    width: 100%;
    height: auto;
    display: block;
}

.work-sample.larger {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}


