:root {
    --primary-color: #3498db;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center; /* Center text horizontally */
}

header {
    background-color: var(--primary-color);
    padding: 40px 0; /* Increased padding for more height */
}

/* Styling for avatar image. */
#about img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 60px; /* Increased margin for more height */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 40px; /* Increased margin for more height */
}

nav ul li {
    margin: 0 20px; /* Increased margin for more space between navigation items */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Work sample layout using flexbox and larger image */
.work-samples {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: auto; 
}

.work-sample {
    border: 1px solid #ccc;
    padding: 50px; 
    margin: 30px;
    max-width: 300px;
    text-align: center; 
}

.work-sample.larger img {
    width: 100%; 
    max-width: 100%; 
    height: auto;
}

.work-sample img {
    width: 100%;
    height: auto;
    display: block;
}

.work-sample.larger {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #f2f2f2;
}




